<div id="slack-download" class="slack-manager new-slack-dialog template modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{SLACK_DOWNLOAD}}</h1>
    </div>
    <div class="modal-body">
        <div class="dialog-message">
            <input type="text" placeholder="Search" id="slack-download-search" />
        	<br>
           	<select name="slack-team" size="1" id="slack-team"></select>
            <br>
        	<h4>Images</h4>
			<div id="image-snippets"></div>
			<div class="clearFloat"></div>
			<br><h4>Code</h4>
			<div id="code-snippets"></div>
        </div>
    </div>
</div>
